<!DOCTYPE html>
<html lang="en">

{% if view.headjs is defined %}
    {% include 'headjs.html.twig' %}
{% else %}
    {% include 'head.html.twig' %}
{% endif %}

  <body>
  {% include 'navbar.html.twig' %}

    <div class="container">
        <div class="row">
          <div id="pageBody">
              <p><br /><br /><br /></p>
              <div class="container max-w-xl mx-auto text-left flex items-center flex-wrap">
                  <div class="col-lg-8">
                      <h1>Welcome to<br />{{ view.appname }}!</h1>
                      <p class="text-md md:text-lg text-grey-dark leading-normal">
                          You can view a list of all products!
                      </p>
                      <p><a href="{{ view.urlbaseaddr }}products/index" class="mt-6 inline-block bg-white text-black no-underline px-4 py-3 shadow-lg">View products</a></p>
                  </div>
                  <div class="col-lg-4">
                    <p><br /><img src="{{ view.urlbaseaddr }}img/lightmvc_logo.png" class="shadow-lg" /><br /></p>
                  </div>
              </div>
              <p><br /><br /><br /></p>
          </div> <!-- END pageBody -->
        </div>
    </div>

    <!-- feature -->
    <div class="w-full bg-yellow text-black">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <p><br /></p>
                    <h2 class="leading-normal mb-6 text-grey-darkest"><b>Easily create PHP applications by using any PHP library within this very modular, event-driven and Swoole-enabled framework!</b></h2>
                    <h3><a href="https://lightmvcframework.net/" target="_blank">https://lightmvcframework.net/</a></h3>
                    <p><br /></p>
                </div>
            </div>
        </div>
    </div>
    <!-- /feature -->

    <!-- content -->
    <div class="w-full px-6 py-12 bg-white">
        <div class="max-w-xl mx-auto flex flex-wrap">

            <div class="w-full md:w-1/2 flex flex-wrap">
                <div class="w-full md:w-1/2">
                    <img src="{{ view.urlbaseaddr }}img/zend-framework.jpg" class="w-full h-auto" />
                </div>
                <div class="w-full md:w-1/2">
                    <img src="{{ view.urlbaseaddr }}img/symfony.png" class="w-full h-auto" />
                </div>
                <div class="w-full md:w-1/2">
                    <img src="{{ view.urlbaseaddr }}img/swoole.png" class="w-full h-auto" />
                </div>
                <div class="w-full md:w-1/2">
                    <img src="{{ view.urlbaseaddr }}img/expressive.png" class="w-full h-auto" />
                </div>
            </div>

            <div class="w-full md:w-1/2 p-2 md:px-6">
                <h3>
                    Build applications using PSR-15 compliant middleware and PSR-7 compliant HTTP messages.
                </h3>
                <p class="mb-5">Built upon proven technologies like Zend Diactoros, Zend Stratigility, and Zend EventManager!</p>
                <p class="mb-8">Many great technologies, like Pimple, FastRoute, Plates, and Whoops come together to become the LightMVC Framework!</p>
                <p class="mb-8">And, let's not forget these great-looking templates created with Bootstrap and Tailwind CSS!</p>
                <a href="{{ view.urlbaseaddr }}products/index" class="inline-block bg-black text-white text-3xl px-4 py-3 no-underline">Browse our products</a>
            </div>

        </div>
    </div>
    <!-- /content -->


  {% include 'footer.html.twig' %}

  {% if view.bodyjs is defined %}
      {% include 'bodyjs.html.twig' %}
  {% endif %}

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ view.urlbaseaddr }}js/ie10-viewport-bug-workaround.js"></script>
    
  </body>
</html>
